* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cream-color: #fafaf8;
    --PureWhite-color: #ffffff;
    --Primarytext-color: #0f0f0f;
    --Secondary-color: #a5a5a5;
    --Labeltext-color: #8a8a8a;
    --Primarybutton: #000000;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--Cream-color);
}

h1 {
    color: var(--Primarytext-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2.85rem;
    font-weight: bold;
}

h2 {
    color: var(--Primarytext-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: var(--Primarytext-color);
}

h4 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: var(--Secondary-color);
}

p {
    font-size: 1.05rem;
    color: var(--Primartext-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--Primartext-color);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* Common Button */

.button-box {
    padding: 16px 45px;
    border-radius: 12px;
    background-color: var(--Primarybutton);
    color: var(--Labeltext-color);
}

/* Navation Bar */
.nav-bar {
    width: 100%;
    height: 3rem;
    background-color: var(--PureWhite-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .nav-item {
    width: 30%;
    height: 30px;
    color: var(--Primartext-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav-bar ul {
    width: 50%;
    height: 35px;
    list-style-type: none;
    /* background-color: red;    */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.nav-bar ul a {
    padding: 5px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.nav-bar ul a:hover {
    color: var(--Cream-color);
    background-color: var(--Primarybutton);

}

/* Header Section */

.about-container {
    width: 100%;
    height: 350px;
    /* background-color: red; */
    background-image: url(imageFolder/headerfruit.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-container .about-content {
    margin-left: 75px;
}

.about-container .about-content h1 {
    margin-bottom: 12px;
}

/* Main Content */
main {
    width: 100%;
    height: 400px;
    /* background-color: red; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main img {
    width: 300px;
    height: 350px;
    border-radius: 12px;
}

main .header-container {
    width: 350px;
    height: 350px;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

main .header-container a {
    color: white;
    padding: 15px 70px;
    border-radius: 20px;
    background-color: var(--Primarybutton);
}

/* Profile Section */

.profile-box {
    width: 100%;
    height: 700px;
    /* background-color: rebeccapurple; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profile-box .profile-header {
    width: 350px;
    height: 120px;
    /* background-color: violet; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-box .profile-card {
    width: 1200px;
    height: 350px;
    /* background-color: violet; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.profile-box .profile-card .card {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    background-color: #cacaca;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile-box .profile-card .card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Content section */

.content-container {
    width: 100%;
    height: 650px;
    background-image: url('imageFolder/nutritientfruit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.content-container .content-box {
    width: 290px;
    height: 140px;
    /* background-color: red; */
    position: absolute;
    right: 250px;
    top: 110px;
}

.content-container .button-box {
    position: absolute;
    right: 350px;
    bottom: 250px;
    padding: 20px 55px;
    background-color: var(--Primarybutton);
    border-radius: 12px;

}

/* Tag Section */

.tag-container {
    width: 100%;
    height: 350px;
    background-color: var(--Cream-color);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tag-container .tag-box {
    width: 200px;
    height: 120px;
    /* background-color: coral; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.tag-box a {
    padding: 15px 50px;
    border-radius: 12px;
    color: #44a3e2;
    background-color: #e2e2e2e3;
}

/* Footer Section */

footer {
    width: 100%;
    height: 350px;
    background-color: #2d2d2d;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer {
    width: 180px;
    height: 220px;
    /* background-color: rebeccapurple; */
}

footer .content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

span {
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    color: var(--Secondary-color);
}

footer .quick-link {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

footer .quick-link a {  
    text-transform: capitalize;
    font-weight: medium;
    font-size: 1.01rem;
    color: var(--Secondary-color);
}

footer .social-media {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

footer .send-message {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .send-message textarea {
    width: 90%;
    height: 150px;
    margin-top: 12px;
    border: 2px solid #555353;
    background-color: #2d2d2d;
    border-radius: 3px;
    margin-bottom: 5px;
}

footer .send-message a {
    font-size: 1.02rem;
    font-weight: medium;
    background-color: #555353;
    padding: 5px 7px;
    border-radius: 5px;
}

.base-container {
    width: 100%;
    height: 75px;
    color: var(--Labeltext-color);
    text-align: center;
    line-height: 70px;
    background-color: var(--Primarybutton);
}