* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Cream-color: #fafaf8;
    --PureWhite-color: #ffffff;
    --Primarytext-color: #0f0f0f;
    --Secondary-color: #a5a5a5;
    --Labeltext-color: #8a8a8a;
    --Primarybutton: #000000;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--Cream-color);
}

h1 {
    color: var(--Primarytext-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2.85rem;
    font-weight: bold;
}

h2 {
    color: var(--Primarytext-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    color: var(--Primarytext-color);
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: var(--Secondary-color);
}

p {
    font-size: 1.05rem;
    color: var(--Primarytext-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--Primarytext-color);
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Common Button */

.button-box {
    padding: 16px 45px;
    border-radius: 12px;
    background-color: var(--Primarybutton);
    color: var(--Labeltext-color);
}


/* Navation Bar */
.nav-bar {
    width: 100%;
    height: 3rem;
    background-color: var(--PureWhite-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .nav-item {
    width: 30%;
    height: 30px;
    color: var(--Primarytext-color);
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav-bar ul {
    width: 50%;
    height: 35px;
    list-style-type: none;
    /* background-color: red;    */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.nav-bar ul a {
    padding: 5px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.nav-bar ul a:hover {
    color: var(--Cream-color);
    background-color: var(--Primarybutton);

}


/* Contact Header Section */

.contact-header {
    width: 100%;
    height: 350px;
    /* background-color: red; */
    background-image: url(imageFolder/lemon\ background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Section  */
main {
    width: 100%;
    height: 400px;
    /* background-color: royalblue; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main .contact-container {
    width: 80%;
    height: 100px;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main .contact-address {
    width: 90%;
    height: 200px;
    /* background-color: violet; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main .contact-address .address-container {
    width: 350px;
    height: 80%;
    background-color: #8a8a8a7c;
    border-radius: 12px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .contact-address .address-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

main .contact-address .address-container div span {
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    color: #2d2d2d;
}

/* Q & A Section */

.question-container {
    width: 100%;
    height: 480px;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container .content-box {
    width: 100%;
    height: 120px;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container .question-box {
    width: 100%;
    height: 350px;
    /* background-color: royalblue; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.question-container .question-box .answer-box {
    width: 500px;
    height: 85%;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.question-container .question-box .answer-box div p {
    font-size: 0.75rem;
    font-weight: lighter;
}

/* Location Address Section */

.location-container {
    width: 100%;
    height: 650px;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.location-container .location-header {
    width: 100%;
    height: 120px;
    /* background-color: royalblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-container .location-box {
    width: 100%;
    height: 450px;
    /* background-color: royalblue; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.location-container .location-box .googlemap-address iframe {
    border-radius: 12px;
    outline: 3px solid #8a8a8a6c;
}

.location-container .location-box .location-form {
    width: 300px;
    height: 300px;
    /* background-color: rebeccapurple; */
}

.location-container .location-box .location-form form label {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}

.location-container .location-box .location-form form .fullname, .email {
    width: 85%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin: 10px 0;
    border: 1px solid #8a8a8a;
    border-radius: 12px;
}

.location-container .location-box .location-form form .message {
    width: 85%;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 12px;
    border: 1px solid #8a8a8a;
    border-radius: 12px;
}

.location-container .location-box .location-form form .submit {
    padding: 12px 50px;
    border-radius: 12px;
    color: var(--Cream-color);
    background-color: var(--Primarybutton);
}

/* Footer Section */

footer {
    width: 100%;
    height: 350px;
    background-color: #2d2d2d;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer {
    width: 180px;
    height: 220px;
    /* background-color: rebeccapurple; */
}

footer .content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

span {
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    color: var(--Secondary-color);
}

footer .quick-link {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

footer .quick-link a {  
    text-transform: capitalize;
    font-weight: medium;
    font-size: 1.01rem;
    color: var(--Secondary-color);
}

footer .social-media {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

footer .send-message {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .send-message textarea {
    width: 90%;
    height: 150px;
    margin-top: 12px;
    border: 2px solid #555353;
    background-color: #2d2d2d;
    border-radius: 3px;
    margin-bottom: 5px;
}

footer .send-message a {
    font-size: 1.02rem;
    font-weight: medium;
    background-color: #555353;
    padding: 5px 7px;
    border-radius: 5px;
}

.base-container {
    width: 100%;
    height: 75px;
    color: var(--Labeltext-color);
    text-align: center;
    line-height: 70px;
    background-color: var(--Primarybutton);
}
